<h1>Please name your Tamagotchi:</h1>
<form action="/name" method="post">
  <div>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">GO</button>
</form>
